*{
    padding: 0;
    margin: 0;
   
}
main{
    width: 90%;
    margin: 0% auto;
    
}
.navBar{ 
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    align-items: center;
    padding: 20px;

}
.navBar h3 ,.navEnd{
    font-size: 30px;
}
/* navBar sectionn end here */
/* bannar secton start here */

    
   

.bannar-left{
   color: #0B0736;
}
.bannar-left h2{
    font-size: 110px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 0px 50px;
    
}
.bannar-rights img{
    width: 100%;
}
.bannar-rights{
   margin-top: -85px;
   
}

.bannar-inner {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 26px;
}
.bannar-left button{
    background-color: #0B0736;
    padding: 16px 40px;
    border: none;
    color: white;
    border-radius: 18px;
    font-size: 20px;
}
/* bannar sectin end here */
/* calories section start here */
.calories{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.calories-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    background-color:#CCE8FD;
    width: 160px;
    padding: 12px;
    margin-top: 20px;
    border-radius: 10px;

}
.fa-brands{
    font-size: 30px;
}
.calorie-left h2{
    font-size:88px ;
}
.calorie-left p{
    font-size: 25px;
}
/* calories section end */
/* reveiw section  start here */
.reveiw{
    padding: 30px;
}
.inner-btn{
    background-color: #130F49;
    color: white;
}
.join-free{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9F4FF;
    border-radius: 30px;
    padding: 30px;
}
.join-left h2{
    font-size: 88px;
}
/* free jon section end */
/* footer section start */
.foter{
    text-align: center;
    padding: 40px;
    font-size: 22px;

}
